.container {
  padding: 1rem;
  height: calc(100vh - 6rem); /* Adjusted to account for all padding */
  display: flex;

  .notes {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    overflow: hidden;

    .notesHeaderContainer {
      border-bottom: 1px solid var(--border-color);

      .notesHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .notesTitle {
          text-transform: capitalize;
          margin: 0;
          flex-grow: 1;

          input {
            border: none;
            outline: none;
            background-color: inherit;
            width: 100%;
            font-weight: bold;
          }
        }

        .notesIcons {
          font-size: var(--fs-600);
          color: var(--color-gray);

          svg {
            cursor: pointer;
            margin-inline: 1rem;
          }
        }
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 1rem;

        color: var(--color-gray);

        img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }

        p {
          margin: 0;
        }
      }
    }

    .notesContent {
      flex: 1;
      position: relative;
      padding: 0;

      .textarea {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        resize: none;

        font-size: var(--fs-600);
      }
    }

    .notesHeaderContainer {
      padding: 1rem;
    }
  }
}
