.classList {
  border: 1px solid var(--color-gray);
  border-radius: var(--br-nav);
  margin-block: 2rem;

  .classListHeader {
    background-color: hsl(0, 0%, 98%);
  }

  .classListHeader,
  .classes {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);

    border-bottom: 1px solid var(--color-gray);
    padding: 0.625rem 2rem;

    align-items: center;
  }

  .classes:last-of-type {
    border-bottom: none;
  }

  .classes {
    .className {
      font-weight: var(--fw-bold);
    }

    .total {
      border-radius: 2rem;

      width: 2em;
      padding: 0.325rem 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
