:root {
  --active-bg: #1d1d1d;
  --active-color: #fff;
}

.nav {
  background-color: #111;
  color: #a7a7a7;
  font-size: var(--fs-400);
  max-height: 100vh;

  display: grid;
  place-content: space-between;

  padding: 1.5rem;

  .nav-menu {
    .menu-profile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-inline: 1rem 2rem;

      background-color: #1d1d1d;
      border-radius: 1rem;
      border: 1px solid #323232;

      .profile-info {
        color: #fefefe;
        font-size: var(--fs-300);

        .profile-user-name {
          font-weight: var(--fw-semibold);
          font-size: var(--fs-400);
          margin-bottom: 0;
        }

        .profile-user-email {
          text-decoration: underline;
          margin-top: 0;
        }
      }
    }

    .menu-tabs {
      margin-top: 2.5rem;
    }
  }

  .nav-footer {
    border-top: 1px solid gray;
    .settings {
      margin-block: 1rem;
    }
  }
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
}

.active {
  background-color: var(--active-bg);
  font-weight: var(--fw-semibold);
  color: var(--active-color);
}

.tabs {
  text-transform: capitalize;
}

.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
  margin-block: 1rem;
  border-radius: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
  }
}
