:root {
  --active-bg: rgba(128, 128, 128, 0.363);
  --active-color: #fff;
  --br-nav: 0.6rem;
}

.nav {
  background-color: #111;
  color: #a7a7a7;
  font-size: var(--fs-400);
  font-weight: var(--fw-xl);

  display: grid;
  place-content: space-between;

  padding: 1.5rem;

  .nav-menu {
    .menu-profile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-block: 1rem;
      padding-inline: 1rem 2rem;

      background-color: #1d1d1d;
      border-radius: var(--br-nav);
      border: 1px solid #323232;
    }

    .profile-info {
      color: #fefefe;
      font-size: var(--fs-300);

      .profile-user-name {
        font-weight: var(--fw-semibold);
        font-size: var(--fs-400);
      }

      .profile-user-email {
        text-decoration: underline;
      }
    }
  }

  .nav-footer {
    border-top: 1px solid gray;
    .settings {
      margin-block: 1rem;
    }
  }
}

.menu-tabs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}

.menu-tabs,
.nav-footer {
  /* All children of menu-tabs */

  > * {
    cursor: pointer;
    border-radius: var(--br-nav);
  }

  > *:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.active {
  background-color: var(--active-bg);
  font-weight: var(--fw-semibold);
  color: var(--active-color);
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
