.box {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    /*position: relative;*/
    font-weight: var(--fw-bold);


    p {
        margin: 0;
    }

    .dayBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .day {
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            font-weight: inherit;

        }

        .type {
            width: 5rem;
            height: 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-size: 0.8em;
            background: white;
            text-transform: capitalize;
        }

    }

    .info {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        font-size: var(--fs-200);
        color: inherit;


        .name {
            color: inherit;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
            font-weight: var(--fw-bold);
            margin-bottom: 0.25rem;
            text-transform: capitalize;
        }

        .courseCode,
        .dueDate {
            font-size: var(--fs-200);
        }
    }
}

.test {
    background-color: hsl(260, 100%, 96%);
    color: hsl(254, 100%, 79%);
    /* border: 1px solid hsl(254, 100%, 79%); */
}

.quiz {
    background-color: hsl(91, 94%, 93%);
    color: hsl(91, 57%, 65%);
    /* border: 1px solid hsl(91, 57%, 65%); */
}

.homework {
    background-color: hsl(216, 100%, 94%);
    color: hsl(216, 100%, 76%);
    /* border: 1px solid hsl(216, 100%, 76%); */
}

.quiz {
    background-color: hsl(91, 94%, 93%);
    color: hsl(91, 57%, 65%);
    /* border: 1px solid hsl(91, 57%, 65%); */
}

.dayNumber {
    background-color: white;
    padding: 1rem;
}
