.container {
  padding: 1rem;

  a {
    justify-content: center;
    align-content: center;
  }

  .addButton,
  .adminButtons > * {
    border-radius: 2rem;
    border: none;

    margin: 0;
    min-width: 80px;
    height: 2rem;

    color: white;
    cursor: pointer;

    text-align: center;
    text-decoration: none;
    font-weight: var(--fw-bold);
  }

  .adminButtons {
    display: flex;
    justify-content: space-between;

    .deleteButton {
      background: hsl(0, 100%, 35%);

      &:hover {
        background: hsl(0, 100%, 25%);
      }
    }

    .editButton {
      background: hsl(60, 100%, 35%);

      &:hover {
        background: hsl(50, 100%, 25%);
      }
    }
  }
  .addButton {
    background: hsl(120, 100%, 35%);

    &:hover {
      background: hsl(120, 100%, 25%);
    }
  }
}

/* Classlist css */

.classList {
  border: 1px solid var(--border-color);
  border-radius: 0.6rem;

  .classListHeader {
    background-color: hsl(0, 0%, 95%);

    p {
      margin: 0;
    }
  }

  .classListHeader,
  .classes {
    display: grid;
    grid-template-columns: 2fr repeat(6, 1fr);

    border-bottom: 1px solid var(--border-color);
    padding: 0.625rem 2rem;

    align-items: center;
  }

  .classes:last-of-type {
    border-bottom: none;
  }

  .classes {
    .className {
      font-weight: var(--fw-bold);
    }

    .total {
      border-radius: 2rem;

      width: 2em;
      padding: 0.325rem 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
